<!-- subform: password form
implemented in sign-up-->

<div [formGroup]="passwordForm">
     <label for="password">Password</label>
     <input formControlName="password" type="password" id="password" />
     <div *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
          password is required
     </div>

     <label for="confirm-password">Confirm Password</label>
     <input formControlName="confirmPassword" type="password" id="confirm-password" />
     <div *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')" class="error">
          password is required
     </div>

     <div *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')" class="error">
          passwords do not match
     </div>
</div>

<!--<div [formGroup]="passwordForm" fxFlexFill>
     <table class="password-form" cellspacing="0">

          <tr>
               <td>

                    <mat-input-container>
                    <label for="password">Password</label>
                    <input class="form-control" matInput id="password" type="text"
                         placeholder="type your password (required)" formControlName="password"
                         [ngClass]="{'is-invalid': (passwordControltouched || passwordControl.dirty) && !passwordControl.valid}">
                    <mat-hint class="invalid-feedback">
                         <mat-error *ngIf="passwordControl.errors?.required">
                              password is required
                         </mat-error>
                         <mat-error *ngIf="passwordControl.errors?.minlength">
                              Your password must be more than one character
                         </mat-error>
                    </mat-hint>
                     <div *ngIf="firstNameControl.touched && firstNameControl.hasError('required')"
             class="error">
             first name is required
        </div> 

               </td>
               <td></td>

               <td>

                    <<mat-input-container>
                    <input class="form-control" matInput id="confirm-password" type="password"
                         placeholder="re-type your password (required)" formControlName="confirmPassword"
                         [ngClass]="{'is-invalid': (confirmPasswordControl.touched || confirmPasswordControl.dirty) && !confirmPasswordControl.valid}">
                    <mat-hint class="invalid-feedback">
                         <mat-error *ngIf="confirmPasswordControl.errors?.required">
                              password is required
                         </mat-error>
                         <mat-error *ngIf="confirmPasswordControl.errors?.minlength">
                              password is required
                         </mat-error>
                    </mat-hint>
                    <div *ngIf="passwordControl.touched && confirmPasswordControl.touched && passwordFormhasError('mismatch')"
                         class="error">
                         passwords do not match
                    </div>


               </td>

          </tr>

     </table>


     <div [formGroup]="passwordForm">
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password">
    <div *ngIf="passwordControl.touched && passwordControl.hasError('required')"
         class="error">
         passord is required
         </div>

    <label for="confirm-password">Confirm Password</label>
    <input formControlName="confirmPassword" type="password" id="confirm-password">
    <div *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')"
         class="error">
         passord is required
         </div>

         <div *ngIf="passwordControl.touched && confirmPasswordControl.touched && passwordFormhasError('mismatch')"
         class="error">
         passwords do not match
         </div>
</div>
-->