<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Super Call</mat-card-title>
        <mat-card-subtitle>Bnean</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/IMG-20191112-WA0003.jpg">
    <mat-card-content>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header style="position: absolute; right: 0px; top: 0px;"></mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="platform">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="services">
            </mat-form-field>

            <p>
                Bnean is a learning example.
                In life, it’s never too late or too early to be what you aspire to be.
                The decision is yours; when you start or stop, whether you change or remain the same.
                And with those decisions, we make the best or worst of the time we have.
                Beauty of life is in feeling things we have never felt before,
                in seeing things that inspire us and being an inspiration to others,
                in providing value and being valued by others.
                I hope you don’t shut yourself off from this beauty.
                I hope you live a life you are proud of and if you find that you are not,
                I hope you have the courage to start all over again.
                .... excerpt from book- SIF: A reflection of yours.
            </p>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </mat-card-actions>
</mat-card>